.containerSobre {
    width: 100%;
    height: auto;
    margin: 4rem 0 6rem;

    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        transition: .3s ease-in-out;

        @media screen and (min-width: 320px) and (max-width: 800px) {
            flex-direction: column;
            gap: 3rem;
        }

        .containerTextos,
        .containerImagem {
            width: 50%;
            transition: .3s ease-in-out;

            @media screen and (min-width: 320px) and (max-width: 800px) {
                width: 100%;
            }
        }

        .containerTextos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;

            h1 {
                color: #000;
                font-family: 'Nunito', sans-serif;
                font-style: italic;

                span {
                    color: #ff0000;
                }
            }

            p {
                font-size: .9rem;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;
                letter-spacing: 1px;
            }

            .containerLinks {
                display: flex;
                align-items: center;
                gap: 1rem;

                a {
                    img {
                        height: 20px;
                        width: 20px;
                        transition: .3s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .iconGitHub {
                    background-color: #000;
                    color: #fff;
                    height: 20px;
                    width: 20px;
                    border-radius: .2rem;
                    transition: .3s ease-in-out;
                    position: relative;
                    bottom: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .containerImagem {
            position: relative;
            top: 0;
            left: 0;

            .imagens {
                position: relative;
                top: 0;
                left: 0;

                img {
                    object-fit: contain;

                    &:nth-child(1) {
                        width: 100%;
                        border-radius: 1rem;
                        box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
                    }

                    &:nth-child(2) {
                        width: 50%;
                        position: absolute;
                        border: 4px solid #fff;
                        top: 52%;
                        right: 60%;
                        transition: .3s ease-in-out;

                        @media screen and (min-width: 320px) and (max-width: 800px) {
                            position: static;
                            width: 100%;
                            border: none;
                            border-radius: 1rem;
                            box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
                            margin-top: 1rem;
                        }
                    }
                }
            }

        }
    }
}